

.color-palette {
  width               : 100%;
  min-width           : 820px;
  height              : 100%;
  min-height          : 680px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.color-palette .swatch-ffffff {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.color-palette .swatch-ffffff .border {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch-ffffff .ffffff {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch-ffffff .color-name {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch-ffffff .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch-ffffff .rgb-value {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch000000 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 220px;
}
.color-palette .swatch000000 .image1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch000000 .a000000 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch000000 .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch000000 .label3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch000000 .label4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch6-f6-f6-f {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
}
.color-palette .swatch6-f6-f6-f .image2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch6-f6-f6-f .a6-f6-f6-f {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch6-f6-f6-f .label5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch6-f6-f6-f .label6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch6-f6-f6-f .label7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch-c03245 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 620px;
}
.color-palette .swatch-c03245 .image3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch-c03245 .c03245 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch-c03245 .label8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch-c03245 .label9 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch-c03245 .label10 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch979797 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 240px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.color-palette .swatch979797 .image4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch979797 .a979797 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch979797 .label11 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch979797 .label12 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch979797 .label13 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch4-a4-a4-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 240px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 220px;
}
.color-palette .swatch4-a4-a4-a .image5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch4-a4-a4-a .a4-a4-a4-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch4-a4-a4-a .label14 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch4-a4-a4-a .label15 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch4-a4-a4-a .label16 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch-d0021-b {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 240px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
}
.color-palette .swatch-d0021-b .image6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch-d0021-b .d0021-b {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch-d0021-b .label17 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch-d0021-b .label18 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch-d0021-b .label19 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch393-b36 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 240px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 620px;
}
.color-palette .swatch393-b36 .image7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch393-b36 .a393-b36 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch393-b36 .label20 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch393-b36 .label21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch393-b36 .label22 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch4-d4-e4-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 460px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
}
.color-palette .swatch4-d4-e4-a .image8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch4-d4-e4-a .a4-d4-e4-a {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch4-d4-e4-a .label23 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch4-d4-e4-a .label24 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch4-d4-e4-a .label25 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch539-ece {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 460px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 220px;
}
.color-palette .swatch539-ece .image9 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch539-ece .a539-ece {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch539-ece .label26 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch539-ece .label27 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch539-ece .label28 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.color-palette .swatch9-c9-c9-c {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 460px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 420px;
}
.color-palette .swatch9-c9-c9-c .image10 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 200px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch9-c9-c9-c .a9-c9-c9-c {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 130px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.color-palette .swatch9-c9-c9-c .label29 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 137px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(85, 85, 85, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.color-palette .swatch9-c9-c9-c .label30 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.color-palette .swatch9-c9-c9-c .label31 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(137, 137, 137, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}